[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
httpx = "*"

[dev-packages]
pytest = "*"
httpx = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
